<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/DefaultLayout'">
	
<head>
	<title>Cadastro de estilo</title>
	
</head>

<body>

	<section layout:fragment="content">

		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de estilo
				</h1>
			</div>
		</div>

		<div class="container-fluid">
		
			<th:block th:include="fragments/MessagesSuccess"></th:block>	
				
			<form  method="POST" th:object="${style}" class="form-vertical  js-form-loading">
				
				<th:block th:include="fragments/MessagesErrorValidation"></th:block>
				<div class="row">
					<div class="form-group  col-sm-8" th:classappend="${#fields.hasErrors('name')} ? has-error">
						<label for="name" class="control-label">Nome</label>
						<input type="text" class="form-control" id="name" autofocus="autofocus" th:field="*{name}"/>
					</div>
				</div>
				
				<button type="submit" class="btn  btn-primary">Salvar</button>
			</form>
		</div>
			
	</section>
	
</body>
</html>
